<header class="container-fluid header">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light col-xl-12">
            <a class="navbar-brand" href="/"><img src="img/logoheader.png" alt="logo" class="logo-header" draggable="false"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link joinup-login-button" data-toggle="modal" data-target="#joinupModal">
                            <span>Zarejestruj się</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link joinup-login-button" data-toggle="modal" data-target="#loginModal">
                            <span>Zaloguj</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
