<%- include('./auth/joinup-popup') %>

<header class="container-fluid header">
    <div class="row">
        <nav class="navbar-login-page navbar navbar-expand-lg navbar-light bg-light col-xl-12">
            <a class="navbar-brand logo-header" href="/shop/all/1">
                <img src="/img/logoheader.png" alt="logo" class="logo-header" draggable="false">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</header>
