<div class="container-fluid footer">
    <div class="row">
        <div class="footer__menu">
            <!--<ul class="list-inline footer__menu&#45;&#45;elements">
                <li class="list-inline-item footer__menu&#45;&#45;elements&#45;&#45;list"><a href="#" class="footer__menu&#45;&#45;elements&#45;&#45;list&#45;&#45;item">O NAS</a></li>
                <li class="list-inline-item footer__menu&#45;&#45;elements&#45;&#45;list"><a href="#" class="footer__menu&#45;&#45;elements&#45;&#45;list&#45;&#45;item">ZASADY KORZYSTANIA</a></li>
                <li class="list-inline-item footer__menu&#45;&#45;elements&#45;&#45;list"><a href="#" class="footer__menu&#45;&#45;elements&#45;&#45;list&#45;&#45;item">POMOC</a></li>
                <li class="list-inline-item footer__menu&#45;&#45;elements&#45;&#45;list"><a href="#" class="footer__menu&#45;&#45;elements&#45;&#45;list&#45;&#45;item">PRZEŚLIJ OPINIĘ</a></li>
            </ul>-->
        </div>
        <div class="footer__logo">
            <img src="/img/logofooter.png" alt="logo" draggable="false">
        </div>
    </div>
</div>
