$color-primary-blue: #218098;
$color-primary-dark-grey: #494949;
//$color-primary-light-grey: #a7a7a7;

$color-primary-light-grey: #f2f2f2;
$color-primary-lighter-grey: #f9f9f9;

$color-primary-orange: #ff6600;

$color-white: #fff;