<%- include('../../includes/head') %>

</head>

<body>
<div class="email-confirmation-success-page">
    <%- include('../../includes/main-header-nli') %>

    <section class="email-confirmation-success-page__email-confirmation-success-sec">
        <div class="email-confirmation-success-page__email-confirmation-success-sec__wrapper">
            <p>Twój email został potwierdzony.</p>
        </div>
    </section>

    <%- include('../../includes/footer') %>
</div>
</body>
