.login-page{
  &__login-sec{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__warnings{

    }

    &__wrapper-1{
      box-shadow: 0 0 35px rgba(0,0,0,.2);
    }

    &__header{
      display: flex;
      justify-content: center;
      align-items: center;

      svg{
        width: 2rem;
        height: 2rem;
      }
    }

    &__controls-sec{

      background: $color-primary-lighter-grey;
    }
  }

  &__join-up-sec{
    margin-top: 2rem;
    text-align: center;

    .join-up-btn{
      margin-left: .5rem;
      width: fit-content;
      color: $color-primary-blue !important;
    }
  }

  form{
    .restore-password{
      margin-left: 2rem;
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
  }
}

