<%- include('../../../includes/head') %>

</head>

<body>
<div class="login-page">
    <%- include('../../../includes/main-header-nli') %>

    <section class="login-page__login-sec">
        <% if(warningsExistence) { %>
            <%- include('./includes/warnings', {
                onPasswordIncorrectness, onNewlyCreatedUser, onEmailConfirmationStatusError
            }) %>
        <% } %>

        <div class="login-page__login-sec__wrapper-1 col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4 p-0">
            <div class="login-page__login-sec__header pt-4 pb-4">
                <h4>Logowanie</h4>
                <svg class="ml-4">
                    <use xlink:href="/img/icons/symbol-defs.svg#icon-enter"></use>
                </svg>
            </div>
            <div class="login-page__login-sec__controls-sec p-5">
                <form method="post" action="/auth/login">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               id="loginInputLogin"
                               name="userLoginOrEmail"
                               placeholder="Login albo email"
                               autocomplete="login"
                               required>
                    </div>

                    <div class="form-group">
                        <input type="password"
                               class="form-control"
                               id="loginInputPassword"
                               name="userPassword"
                               placeholder="Hasło"
                               autocomplete="password"
                               required>
                    </div>

                    <div class="form-group">
                        <button class="btn submit-button log-in-button">Zaloguj</button>
                        <a class="restore-password" href="/password-recovery">zapomniałeś hasła?</a></div>
                </form>

                <div class="login-page__join-up-sec">
                    <span>Nie masz konta?</span>

                    <a class="join-up-btn">Zarejestruj się</a>
                </div>
            </div>
        </div>
    </section>

    <%- include('../../../includes/footer') %>
</div>
</body>
