<div class="settings-page__wrapper__warnings mb-2 mt-2">
    <% if(warningsExistence) { %>
        <% if(onEmailAltering) { %>
            <div class="alert alert-warning" role="alert">
                Wysłaliśmy Ci maila aby potwierdzić zmianę emaila.
            </div>
        <% } %>
    <% } %>
</div>
