<div class="modal fade" id="recoveryModal" tabindex="-1" role="dialog" aria-labelledby="recoveryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="img/logoheader.png" alt="" draggable="false">
            </div>
            <div class="modal-body modal-body-own-settings">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputEmailOrLogin" placeholder="Wpisz swój login lub email" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn submit-button pass-recovery-submit-button">Potwierdź</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
